<h1><%= @studio.name %>: <%= @studio.location %> </h1>
<h3>Studio Movies</h3>

<% @movies.each do |movie| %>
  <h4><%= movie.title %></h4>
<% end %>

<% @movie_actors.each do |actor| %>
  <h5><%= actor.name %></h5>
<% end %>
